<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ex2</title>
</head>
<body>
  <ul>
    <li th:each="dto, state : ${list}">
<!--       [[${state.index}]]>>>[[${dto}]]-->
     <!-- [[${state.count}]]>>>[[${#numbers.formatInteger(dto.sno, 5)}]] [[${dto}]] -->
     [[${state.count}]]>>>[[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]] [[${dto}]]
    </li>
  </ul>
</body>
</html>